.filters {
  width: 260px;
}

.filters__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters__fieldset-price {
  margin-bottom: 56px;
}

.filters__fieldset-grid {
  margin-bottom: 25px;
}

.filters__fieldset-advantages {
  margin-bottom: 28px;
}

.filters__legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters__range {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 48px;
  margin-bottom: 14px;
  padding: 0 20px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.filters__bar {
  position: relative;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
  box-shadow: 60px 0 0 0 #d7dcde;
}

.filters__toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 0 0 #cccdcd,
    inset 0 0 0 8px #ffffff;
}

.filters__toggle--plus {
  left: -3px;
}

.filters__toggle--minus {
  left: 139px;
}

.filters__range-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters__range-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 112px;
  line-height: 22px;
  text-transform: uppercase;
}

.filters__input-text {
  width: 80px;
  height: 38px;
  padding: 0 5px;
  text-align: center;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.filters__wrapper {
  padding-top: 15px;
}

.filters__row {
  margin: 0;
  margin-bottom: 20px;
}


.filters__title {
  position: relative;
  display: block;
  padding-left: 35px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}

.filters__input + .filters__title::before {
  content: "";
  position: absolute;
  left: 1px;
  background-color: #ffffff;
  opacity: 0.4;
}

.filters__input:hover + .filters__title::before,
.filters__input:focus + .filters__title::before {
  opacity: 1;
}

.filters__input:disabled + .filters__title::before {
  opacity: 0.1;
}

.filters__radio + .filters__title::before {
  top: -4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #4d4d4d;
}

.filters__radio:checked + .filters__title::before {
  background-color: #4d4d4d;
  box-shadow: inset 0 0 0 4px #ffffff;
}

.filters__checkbox + .filters__title::before {
  top: -2px;
  width: 23px;
  height: 23px;
  border: 2px solid #4d4d4d;
  border-radius: 4px;
}

.filters__checkbox:checked + .filters__title::before {
  width: 27px;
  border: none;
  background-image: url("../img/icon-checkbox.png");
  background-repeat: no-repeat;
}

.filters__button {
  width: 260px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;

  &:hover,
  &:focus {
    background-color: #dfdfdf;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
  }
}
