.modal-writeus {
  position: relative;
  width: 960px;
  height: 590px;
  //Временно для сетки
  margin: 100px;
  padding-top: 73px;
  padding-bottom: 84px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-writeus__title {
  display: block;
  margin-bottom: 48px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal-writeus__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-writeus__text-wrapper {
  width: 360px;
}

.modal-writeus__label {
  line-height: 18px;
  font-weight: 700;
}

.modal-writeus__text {
  width: 360px;
  height: 50px;
  padding: 0 15px;
  border: 2px solid #d7dcde;
  outline: none;

  &:hover {
    border: 2px solid #b4b9bb;
  }

  &:focus {
    border: 2px solid #000000;
  }
}

.modal-writeus__textarea-wrapper {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 47px;
}

.modal-writeus__textarea {
  width: 100%;
  min-height: 118px;
  padding: 0 15px;
  padding-top: 13px;
  border: 2px solid #d7dcde;
  resize: none;
  outline: none;

  &:hover {
    border: 2px solid #b4b9bb;
  }

  &:focus {
    border: 2px solid #000000;
  }
}

.modal-writeus__button {
  width: 260px;
}

.modal-writeus--invalid {
  border: 2px solid #e74246;
}

.modal-writeus__button-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.modal-writeus__button-close::before,
.modal-writeus__button-close::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  width: 4px;
  height: 30px;
  margin-top: -15px;
  margin-right: -2px;
  background-color: rgba(251, 86, 90, 0.3);
  border-radius: 3px;
}

.modal-writeus__button-close::before {
  transform: rotate(45deg);
}

.modal-writeus__button-close::after {
  transform: rotate(-45deg);
}

.modal-writeus__button-close:hover::after,
.modal-writeus__button-close:hover::before,
.modal-writeus__button-close:focus::after,
.modal-writeus__button-close:focus::before {
  background-color: rgba(251, 86, 90, 1);
}

.modal-writeus__button-close:active::after,
.modal-writeus__button-close:active::before {
  background-color: rgba(251, 86, 90, 0.1);
}
